@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&family=Shrikhand&display=swap");
@-webkit-keyframes spinner {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    visibility: visible;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    visibility: visible;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    visibility: visible;
    opacity: 1;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    visibility: visible;
    opacity: 1;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    visibility: visible;
    opacity: 1;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    visibility: visible;
    opacity: 1;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    visibility: visible;
    opacity: 1;
  }
}
@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    visibility: visible;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    visibility: visible;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    visibility: visible;
    opacity: 1;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    visibility: visible;
    opacity: 1;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    visibility: visible;
    opacity: 1;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    visibility: visible;
    opacity: 1;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes heart-in {
  0% {
    transform: scale(1, 1);
    font-weight: 200;
    -webkit-text-fill-color: black;
  }
  30% {
    transform: scale(1.25, 0.75);
    font-weight: 200;
    -webkit-text-fill-color: black;
  }
  40% {
    transform: scale(0.75, 1.25);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  50% {
    transform: scale(1.15, 0.85);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  65% {
    transform: scale(0.95, 1.05);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  75% {
    transform: scale(1.05, 0.95);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  100% {
    transform: scale(1, 1);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes heart-in {
  0% {
    transform: scale(1, 1);
    font-weight: 200;
    -webkit-text-fill-color: black;
  }
  30% {
    transform: scale(1.25, 0.75);
    font-weight: 200;
    -webkit-text-fill-color: black;
  }
  40% {
    transform: scale(0.75, 1.25);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  50% {
    transform: scale(1.15, 0.85);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  65% {
    transform: scale(0.95, 1.05);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  75% {
    transform: scale(1.05, 0.95);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  100% {
    transform: scale(1, 1);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
}
@-webkit-keyframes menus-choice-anim {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    transform-origin: bottom;
  }
}
@keyframes menus-choice-anim {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    transform-origin: bottom;
  }
}
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a,
img, strong, form, footer, header,
menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: black;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: black;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #353535;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #008766;
}

h6 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 100;
  color: black;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: white;
}

.stage_number {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  font-style: normal;
  line-height: 1.8;
}

.footer__heading a {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 100;
  color: white;
}
.footer__link a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.restaurant-select__category--text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #353535;
  border-bottom: 3px #99E2D0 solid;
  width: 40px;
  padding: 0 0 5px 0;
  margin-left: 6px;
  margin-top: 47px;
}

.menus-block__text h3 {
  padding: 10px 0 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.menus-block__text p {
  padding: 7px 0 10px 12px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.price {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-right: 12px;
  margin: auto 8px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(350deg, #9356dc, #FF79DA);
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 25px;
  box-shadow: 0px 5px 15px 0px #a3a2a2;
}
.button:hover {
  cursor: pointer;
  color: white;
  opacity: 80%;
  box-shadow: 0px 5px 15px 0px #6b6b6b;
}

.icon {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  color: black;
}
.icon .fa-heart {
  font-size: 22px;
  -webkit-text-fill-color: black;
}
.icon .fa-heart:hover {
  cursor: pointer;
  -webkit-animation: heart-in 0.9s;
          animation: heart-in 0.9s;
  font-weight: 800;
  background: -webkit-gradient(linear, right bottom, right top, from(#FF79DA), to(#9356dc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__block {
  height: 46px;
  padding-top: 17px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.header__block a {
  position: absolute;
}
.header__block a nav {
  margin-left: 14px;
  width: 20px;
  height: 20px;
}
.header__block a nav .nav__link i {
  text-decoration: none;
  color: #353535;
  font-size: 20px;
}
.header__block .header__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__block .header__heading .logo {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.header__block .header__heading .logo img {
  width: 150px;
}

footer {
  background-color: #353535;
  padding: 25px;
}
footer .footer__heading {
  padding-bottom: 15px;
}
footer .link_elements {
  padding: 5px 0 5px 0;
  display: flex;
  align-items: center;
}
footer .link_elements i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  font-size: 13px;
  color: white;
  padding-right: 9px;
}
footer .link_elements i.fa-hands-helping {
  transform: scale(0.65, 1);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 2;
  position: fixed;
  -webkit-animation: spinner 3.66s linear;
          animation: spinner 3.66s linear;
  visibility: hidden;
}

.loader {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px;
  -webkit-animation: bounce-in-fwd 1.1s 2;
          animation: bounce-in-fwd 1.1s 2;
  visibility: hidden;
}
.loader__green {
  background-color: #99E2D0;
}
.loader__pink {
  background-color: #FF79DA;
}
.loader__purple {
  background-color: #9356dc;
}

.loader-1 {
  -webkit-animation-delay: 466ms;
          animation-delay: 466ms;
}

.loader-2 {
  -webkit-animation-delay: 832ms;
          animation-delay: 832ms;
}

.loader-3 {
  -webkit-animation-delay: 1198ms;
          animation-delay: 1198ms;
}

.loader-4 {
  -webkit-animation-delay: 1564ms;
          animation-delay: 1564ms;
}

.loader-5 {
  -webkit-animation-delay: 1930ms;
          animation-delay: 1930ms;
}

.loader-6 {
  -webkit-animation-delay: 2296ms;
          animation-delay: 2296ms;
}

.loader-7 {
  -webkit-animation-delay: 2662ms;
          animation-delay: 2662ms;
}

.loader-8 {
  -webkit-animation-delay: 3028ms;
          animation-delay: 3028ms;
}

.loader-9 {
  -webkit-animation-delay: 3394ms;
          animation-delay: 3394ms;
}

.loader-10 {
  -webkit-animation-delay: 3760ms;
          animation-delay: 3760ms;
}

.location__banner {
  background-color: #eaeaea;
  box-shadow: inset 0px 5px 4px -5px #7e7e7e;
  display: flex;
  justify-content: center;
  padding: 16px 0 16px 0;
}
.location__banner i {
  font-size: 16px;
  padding-right: 17px;
  color: #353535;
}
.location__explore {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 50px 40px 50px;
}
.location__explore h1 {
  margin-bottom: 10px;
}
.location__explore p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.location__button {
  margin: 20px 0 17px 0;
  padding-left: 22px;
  padding-right: 22px;
}

.functioning {
  margin: 50px 20px 50px 20px;
}
.functioning__explanation .stage {
  background-color: #f6f6f6;
  box-shadow: 0px 5px 15px 0px #a3a2a2;
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin: 26px 0 26px 12px;
  padding: 21px 0 21px 0;
}
.functioning__explanation .stage_number {
  background-color: #9356dc;
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-right: 22px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.functioning__explanation .stage:hover {
  background-color: #f5edff;
  cursor: pointer;
}
.functioning__explanation .stage:hover > .fas {
  color: #9356dc;
}
.functioning__explanation .stage .fas {
  width: 18px;
  height: 18px;
  font-size: 18px;
  color: #7e7e7e;
  margin-right: 10px;
}
.functioning__explanation .stage .fa-mobile-alt {
  transform: scale(1.1, 1.1);
}
.functioning__explanation .stage .fa-list-ul {
  transform: scale(0.85, 1);
}
.functioning__explanation .stage .fa-store {
  transform: scale(0.85, 1);
}

.restaurants {
  background-color: #f6f6f6;
  padding: 55px 20px 55px 20px;
}
.restaurants__menu a {
  text-decoration: none;
  position: initial;
}
.restaurants__menu a .menus {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  margin: 18px 0 18px 0;
  box-shadow: 0px 5px 15px 0px #bdbdbd;
  border-radius: 12px 12px 12px 12px;
}
.restaurants__menu a .menus__image {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.restaurants__menu a .menus__image--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}
.restaurants__menu a .menus__image--center {
  -o-object-position: 0% 62%;
     object-position: 0% 62%;
}
.restaurants__menu a .menus__new {
  position: absolute;
  padding: 10px 12px 10px 12px;
  margin: 13px 12px 0 0;
  border-radius: 2px;
  background-color: #99E2D0;
}
.restaurants__menu a .menus__title {
  width: 100%;
  height: 77px;
  background-color: white;
  border-radius: 0 0 12px 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-start;
}
.restaurants__menu a .menus__title h3, .restaurants__menu a .menus__title p {
  padding: 3px 0 3px 14px;
  display: flex;
  justify-content: center;
}
.restaurants__menu a .menus__title .icon {
  padding-right: 24px;
}

.restaurant-bg {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 265px;
  width: 100%;
}

.restaurant-select {
  position: relative;
  margin-top: -55px;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  padding-bottom: 50px;
}
.restaurant-select__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 0 0 18px;
}
.restaurant-select__title .icon {
  margin-right: 38px;
  font-size: 22px;
}
.restaurant-select__category {
  margin: 0 14px;
  -webkit-animation: menus-choice-anim 0.5s cubic-bezier(0.24, 0.68, 0.61, 1.02) alternate forwards;
          animation: menus-choice-anim 0.5s cubic-bezier(0.24, 0.68, 0.61, 1.02) alternate forwards;
}

.menus-choice {
  opacity: 0;
  margin: 14px 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 68px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: menus-choice-anim 1s cubic-bezier(0.24, 0.68, 0.61, 1.02) alternate forwards;
          animation: menus-choice-anim 1s cubic-bezier(0.24, 0.68, 0.61, 1.02) alternate forwards;
}
.menus-choice:hover .price {
  padding-right: 70px;
  transition: padding-right 0.3s;
}
.menus-choice:hover .choice {
  transform: translateX(-60px);
}
.menus-choice:hover .choice i {
  transform: rotate(360deg);
  transition: transform 300ms cubic-bezier(0, 0, 0, 0);
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #99E2D0;
  border-radius: 0 16px 16px 0;
  right: -60px;
  height: 100%;
  padding: 0 20px;
  transform: translateX(0px);
  transition-property: transform;
  transition-duration: 0.3s;
}
.choice i {
  font-size: 20px;
  color: white;
}

.menus-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menus-block__text {
  white-space: nowrap;
  overflow: hidden;
}
.menus-block .price {
  padding-right: 15px;
  padding-left: 7px;
  padding-top: 30px;
  transform: translateX(0px);
  transition-property: transform, padding-right;
  transition-duration: 0.3s;
}

.order__button {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  margin: 50px 0 0 0;
}
.order__button .button {
  width: 186px;
}

.menus-choice-1 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.menus-choice-2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.menus-choice-3 {
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
}

.menus-choice-4 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.menus-choice-5 {
  -webkit-animation-delay: 850ms;
          animation-delay: 850ms;
}

.menus-choice-6 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.menus-choice-7 {
  -webkit-animation-delay: 1150ms;
          animation-delay: 1150ms;
}

.menus-choice-8 {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}

.menus-choice-9 {
  -webkit-animation-delay: 1450ms;
          animation-delay: 1450ms;
}

.menus-choice-10 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}/*# sourceMappingURL=main.css.map */