@import "../utils/variables";
@import "../base/typography";

.nav__link a{
    display: none;
}

.location {
    &__banner{
        background-color: $colour-dark-grey;
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding: $sixteen-padding-height;
        i {
            font-size: 16px;
            padding-right: 17px;
            color: $colour-very-dark-grey;
        }
    }
    &__explore {
        background-color: $colour-light-grey;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 40px 50px 40px 50px;
        h1{
            margin-bottom: 10px;
        }
        p{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    &__button {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom right, $colour-secondary,$colour-primary);
        padding: 17px 22px 17px 22px;
        border-radius: 25px;
        margin:20px 0 17px 0;
        box-shadow: 0px 5px 15px 0px #a3a2a2;
    }

}

.functioning {
    margin:50px 20px 50px 20px;
    &__explanation {
        .stage {
            background-color: $colour-light-grey;
            box-shadow: 0px 5px 15px 0px #a3a2a2;
            border-radius: 16px;
            display: flex;
            align-items: center;
            margin: 26px 0 26px 12px;
            padding: 21px 0 21px 0;
            &_number{
                background-color: $colour-primary;
                width: 24px;
                min-width: 24px;
                height: 24px;
                margin-left: -12px;
                margin-right: 22px;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items:baseline;
            }
            &--active, &:hover {
                background-color: #f5edff;
                cursor: pointer;
                >.fas {
                    color: $colour-primary;
                }
            }
            .fas {
                width: 18px;
                height: 18px;
                font-size: 18px;
                color: #7e7e7e;
                margin-right: 10px;
            }
            .fa-mobile-alt{
                transform: scale(1.1,1.1);
            }
            .fa-list-ul {
                transform: scale(0.85,1);
            }
            .fa-store {
                transform: scale(0.85,1);
                color: $colour-primary;
            }
        }
    }
}

.restaurants {
    background-color: $colour-light-grey;
    padding: 55px 20px 55px 20px;
    &__menu {
        .menus {
            margin: 18px 0 18px 0;
            box-shadow: 0px 5px 15px 0px #a3a2a2;
            border-radius: 12px 12px 12px 12px;
            &__image{
                width: 100%;
                height: 174px;
                object-fit:cover;
                border-radius: 12px 12px 0 0;
                &--bottom {
                    object-position:bottom;
                }
                &--center {
                    object-position:0px -150px;
                }
            }
            &__title {
                width: 100%;
                height: 77px;
                background-color: white;
                border-radius: 0 0 12px 12px;
                display: flex;
                flex-direction: column; 
                flex-wrap: wrap;
                align-content: space-between;
                justify-content: center;
                align-items: flex-start;
                h3, p {
                    padding: 3px 0 3px 14px;
                    display: flex;
                    justify-content: center;
                }
                .icons {
                    padding: 10px 24px 10px 0;
                    display: flex;
                    justify-content: center;
                    font-size: 22px;
                    .fa-heart {
                        &:hover {
                            background: -webkit-gradient(linear, right bottom, right top, from($colour-secondary), to($colour-primary));
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-weight: 800;
                            cursor: pointer;
                        }  
                    } 
                }
            }
        }
    }
}