@import "../utils/variables";
@import "../base/typography";

.nav__link a{
    display: none;
}

.location {
    &__banner{
        background-color: $colour-dark-grey;
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding: $sixteen-padding-height;
        i {
            font-size: 16px;
            padding-right: 17px;
            color: $colour-very-dark-grey;
        }
    }
    &__explore {
        background-color: $colour-light-grey;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 40px 50px 40px 50px;
        h1{
            margin-bottom: 10px;
        }
        p{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    &__button {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom right, $colour-secondary,$colour-primary);
        padding: 17px 22px 17px 22px;
        border-radius: 25px;
        margin:20px 0 17px 0;
        box-shadow: 0px 5px 15px 0px #a3a2a2;
    }

}

.functioning {
    margin:50px 20px 50px 20px;
    
    &__title {

    }
    &__explanation {
        .stage {
            background-color: $colour-light-grey;
            box-shadow: 0px 5px 15px 0px #a3a2a2;
            border-radius: 16px;
            display: flex;
            align-items: center;
            margin: 26px 0 26px 12px;
            padding: 21px 0 21px 0;
            &_number{
                background-color: $colour-primary;
                width: 24px;
                min-width: 24px;
                height: 24px;
                margin-left: -12px;
                margin-right: 22px;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items:baseline;
            }
            .fas {
                width: 17px;
                height: 17px;
                font-size: 17px;
                color: #7e7e7e;
            }
        }
    }
}