@import "../utils/variables";
@import "../base/typography";

.nav__link a{
    display: none;
}

.location {
    &__banner{
        background-color: $colour-dark-grey;
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding: $sixteen-padding-height;
        i {
            font-size: 16px;
            padding-right: 17px;
            color: $colour-very-dark-grey;
        }
    }
    &__explore {
        background-color: $colour-light-grey;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 40px 50px 40px 50px;
        h1{
            margin-bottom: 10px;
        }
        p{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

}