
footer {
    background-color: $colour-very-dark-grey;
    padding: 25px;
    
    .footer {
        &__heading {
            padding-bottom: 15px;
        }
    }
    .link_elements {
        padding: 5px 0 5px 0;
        @include flex-itemcenter;
        i {
            @include flex-center;
            width: 14px;
            height: 14px;
            font-size: 13px;
            color: white;
            padding-right: 9px;
            &.fa-hands-helping {
                transform: scale(0.65, 1);
            }
        }
    }
}



