@import "../utils/variables";


.header {
    &__heading a {
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        img {
            width: 150px;
            padding: $ten-padding-height;
         }
        
    }
}