@import "../utils/variables";


.header {
    &__heading {
        display: flex;
        justify-content: center;
        img {
            width: 175px;
            padding: $base-padding-height;
            
        }
    }
}